@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<span class="edit-this">Editing container</span>

<div class="edit-this-two">Second Edit Container</div>

<script type="text/javascript">
    $().ready(function () {
        $(".edit-this").editInPlace({
            applyChangesClass: "applyLink",
            applyChangesText: "DO IT!!",
            customErrorMessage: "This is necessary!!",
            commitChangesStart: function (event, data, clicked) {
                if (data.valueChanged) {
                    alert("Something changed");
                } else {
                    alert("Nothing changed");
                }
            }
        });

        $(".edit-this-two").editInPlace({
            commitChangesStart: function (event, data, clicked) {
                //$(this).hideEditor();
            },
            valueChanged: function (event, data) {

            },
            cancelEdit: function (event, data) {

            }
        });

        //$().initializeEditors();
    });
</script>