@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<span class="edit-this">Editing container</span>

<div class="edit-this-two">Second Edit Container</div>

<script type="text/javascript">
    $().ready(function () {
        $(".edit-this").editInPlace({
            commitChangesStart: function (event, data, clicked) {
                //alert("Started to commit changes");
            }
        });

        $(".edit-this-two").editInPlace({
            commitChangesStart: function (event, data, clicked) {
                $(this).hideEditor();
            },
            valueChanged: function (event, data) {

            },
            cancelEdit: function (event, data) {

            }
        });

        //$().initializeEditors();
    });
</script>